.root{
    width: 100%;
    min-height: 100vh;
    font-size: 10px;
    display: flex;
    align-items: center;
    background: url('./background.jpg')  ;
    background-size: cover;
    justify-content: space-around;
}
span{
    font-size: 1.4rem;
    color: aliceblue;
}
.key{
    height: 70px;
    width: 70px;
    text-shadow: 0 0 .2rem yellowgreen;
    text-align: center;
    line-height: 70px;
    font-size: 2.8rem;
    border: 1px solid white;
    border-radius: 20px;
    transition: all .07s ease;

}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }


.key:hover{
    background-color: hsl(303, 58%, 41%);
    border-radius: 20px;
}